# links de estudo da aplicação
links.txt

# variáveis de ambiente
**/.venv

# Arquivos e pastas específicos para Python
__pycache__/
*/__pycache__/
*.pyc
venv/
*.pyo
.env

# Arquivos de logs e caches
*.log
logs/
*.cache

# Arquivos de configuração
*.ini
